body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #d993e7 0%, #55235c 100%);
}

.numerito{
    display: inline-block;
    font-size: 450%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.botoncito{
    padding: 9%;
    margin-left: 15.8%;
    border: none;
    border-radius: 10%;
}
